.container {
  margin: 2rem auto;
  max-width: 1200px;
  padding: 0 20px;
}

.logo {
  font-size: calc(18px + 6 * ((100vw - 320px)/ 680));
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}



footer, header {
  background-color: #F8F7F5;
  padding: .5rem 0; 
}

.container {
  padding: 0 40px;
  padding-bottom: 0px;
}

header .logo {
  padding-bottom: 0;
}

nav ul {
  list-style: none;
}

nav li {
  display: inline;
}

.logo, .section--contact a, header .logo a, nav ul a {
  color:
    #4A4A4A;
}

*, legend {
  box-sizing: border-box;
}

nav:hover {
  color: #bf9374;
}

nav {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: .75em;
}

body {
  color: #4A4A4A;
  font-family: "Cormorant Garamond", serif;
  line-height: 1.4;
  font-size: 112.5%;
  letter-spacing: 1px;
}
